<div class="clearfix elementinfo">
   <div class="span4" class="">
      <h3>Calendar Element Informations</h3>
      <dl class="dl-horizontal">
         <dt>Start date</dt>
         <dd>12h30</dd>
         <dt>End date</dt>
         <dd>12h30</dd>
      </dl>
   </div>
   <div class="span4">
      <h3>Delegate Informations</h3>
   </div>
   <div class="span4">
      <h3>Owner Informations</h3>

   </div>
</div>