{# empty Twig template #}
{% set current_page = 'update' %}
{% extends "HousecareJobBundle:job:layout.html.twig" %}




{% block container %}


<div class="page-header">
    <h1>Update a costumer</h1>
</div>
<form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" />
    </form>


{% endblock %}